/* Header.css */

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-right {
  -webkit-animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  backdrop-filter: blur(4px); 
  overflow-x: hidden;
  transition: right 0.3s;
  padding-top: 60px;
  z-index: 30;
}

 .sidebar.active {
  right: 0;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 40%;
}

.sidebar-item {
  margin: 15px;
}

.sidebar-item a {
  color: rgb(255, 255, 255);
font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .sm\\:hidden {
    display: block !important;
  }
  .hidden {
    display: none;
  }
} 

/* .header {
  background: rgba(255, 255, 255, 0.7); 
  backdrop-filter: blur(10px);
}

.header .menu-item,
.sidebar .sidebar-item {
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.header .menu-item:hover,
.sidebar .sidebar-item:hover {
  background-color: red; 
  color: white; 
}

.header .menu-item.active,
.sidebar .sidebar-item.active {
  background-color: red; 
  color: white; 
} */
